<section class="bg-dark" id="documents">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Documents</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="cqc-open-book wow bounceIn text-primary" style="font-size: 40px;"></i>
                    <h3>https://api.axboot.com/</h3>
                    <p class="text-muted">
                        https://github.com/axboot/ax-boot-document 를 저장소하고 gitbook.com 서비스를 이용하여 배포되는 api.axboot.com은
                        AXBOOT를 이해하는데 필요한 기본배경지식 부터 제대로된 웹애플리케이션 개발을 위한 고급 지식까지 정리하여 두었습니다.
                        또한 github저장소를 이용하여 관리 되고 있어 컨트리뷰터 들과 함께 만드는 매뉴얼 입니다.
                    </p>
                    <hr class="primary">
                    <a href="https://api.axboot.com/" class="btn btn-default btn-xl page-scroll">open api.axboot.com</a>
                    <hr class="">
                    <a href="https://github.com/axboot/ax-boot-framework/issues" class="btn btn-default btn-xl page-scroll">Issue AXBOOT</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="cqc-open-book wow bounceIn text-primary" style="font-size: 40px;" data-wow-delay=".1s"></i>
                    <h3>http://ax5.io/</h3>
                    <p class="text-muted">
                        ax5ui UI 프레임워크의 다양한 UI 플러그인들에 대한 데모와 사용법을 제공하는 ax5.io를 이용하여
                        ax5ui에 대한 궁금증을 해결하세요.
                    </p>
                    <hr class="primary">
                    <a href="http://ax5.io/" class="btn btn-default btn-xl page-scroll">open ax5.io</a>
                    <hr class="">
                    <a href="https://github.com/ax5ui/ax5ui-kernel/issues" class="btn btn-default btn-xl page-scroll">Issue AX5UI</a>
                </div>
            </div>
        </div>
    </div>

</section>