<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="service-box">
                    <h3 style="font-weight: 600;margin-bottom: 1em;">FullStack Framework</h3>

                    <h4>Front-end</h4>
                    <p class="text-muted" style="font-size: 14px;font-weight: 300;">
                        Front-end Framework provides HTML5, Javascript based 17+ HTML5 components (including GRID, Selector, Toast, Calendar.. etc) and layout system.
                    </p>
                    <h4>Back-end</h4>
                    <p class="text-muted" style="font-size: 14px;font-weight: 300;">
                        Back-end Framework provides fast and flexible Java & Spring based web development environment.
                    </p>
                    <br/>
                    <p class="" style="font-size: 14px;font-weight: 300;">AXBoot is the framework that provides A to Z Web Development solutions.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="service-box">
                    <h3 style="font-weight: 600;margin-bottom: 1em;">Various Layout, Theme</h3>
                    <h4>Various Layout</h4>
                    <p class="text-muted" style="font-size: 14px;font-weight: 300;">
                        provides 10 most popular layouts used on Web UI. Grid, Selector, and form are built into the layout section, and when a user develops UI based on a given sample format, UI could be completed in as quickly as 10 minutes.
                    </p>
                    <h4>Theme</h4>
                    <p class="text-muted" style="font-size: 14px;font-weight: 300;">
                        Theme selection allows a user to change look and feel, as well as allowing the user to fine tune specifics of the UI.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="service-box">
                    <h3 style="font-weight: 600;margin-bottom: 1em;">Developer-friendly</h3>
                    <h4>Pure UI Component</h4>
                    <p class="text-muted" style="font-size: 14px;font-weight: 300;">
                        No need to add any other dependency to design the Web UI.
                    </p>
                    <h4>Open Architecture</h4>
                    <p class="text-muted" style="font-size: 14px;font-weight: 300;">
                        Adapt the platform to your needs with unrestricted access to low level code, wide use of the open inheritance pattern and the unique Extensions feature.
                    </p>
                    <h4>No Restricted Development Environment</h4>
                    <p class="text-muted" style="font-size: 14px;font-weight: 300;">
                        Environment, User-Friendly IDE can be used.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="service-box">
                    <h3 style="font-weight: 600;margin-bottom: 1em;">Productive</h3>
                    <h4>Easy to Start</h4>
                    <p class="text-muted" style="font-size: 14px;font-weight: 300;">
                        AXBoot Initialzr provides a complete form of Application Source Set and a user can start the server by importing a downloaded IDE then using  spring-boot:run command.
                    </p>

                    <h4>Fast CRUD Implementation</h4>
                    <p class="text-muted" style="font-size: 14px;font-weight: 300;">
                        A user can easily materialize CRUD Logic with CRUD scaffolding tool.
                    </p>

                    <h4>Quick to Master</h4>
                    <p class="text-muted" style="font-size: 14px;font-weight: 300;">
                        provides high quality documentation along with Korean version documents for Korean developers. In addition, the most adequate practices are provided based on case studies, this allows the users to solve problems that may occur during business application development.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="service-box">
                    <h3 style="font-weight: 600;margin-bottom: 1em;">Enterprise Ready</h3>
                    <h4>Scalable</h4>
                    <p class="text-muted" style="font-size: 14px;font-weight: 300;">
                        Easy to Expand in parallel  and processing large scale traffic with fine-tuning database pooling, data caching option and resource optimization.
                    </p>
                    <h4>Smart Error Detecting</h4>
                    <p class="text-muted" style="font-size: 14px;font-weight: 300;">
                        An up-to-date slow business logic and slow query can be detected and aggregated in Error Log, while aggregated data can be send through email, texting, messenger, Webhook and, etc.
                    </p>
                    <h4>Reference</h4>
                    <p class="text-muted" style="font-size: 14px;font-weight: 300;">
                        The system has been proven, and its impressive portfolio includes list of large enterprise system usage including: Incheon Airport POS Concession System (Over 1 million times used per day, 25TPS), DAELIM Corporation Global Logistics Management System, and JTNET Van Administration System.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="service-box">
                    <h3 style="font-weight: 600;margin-bottom: 1em;">Maintainable</h3>
                    <h4>Separation of concern</h4>
                    <p class="text-muted" style="font-size: 14px;font-weight: 300;">
                        There is clear separation between View and API. HTTP and JSON(RESTful API) are used for transmission, ensuring effective coding expansion and maintenance.
                    </p>
                    <h4>Layered Architecture</h4>
                    <p class="text-muted" style="font-size: 14px;font-weight: 300;">
                        By utilizing MVC’s Layer Architecture, role and logic have been cleared defined from layer to layer. That allows a user to expand and fix an error through coding quickly.
                    </p>
                    <h4>Support Dev&Ops</h4>
                    <p class="text-muted" style="font-size: 14px;font-weight: 300;">
                        Zero Downtime Deployment has been made possible through Customized Jenkins and Ansible which is fully compatible with AXBoot. This allows the system to quicken the code lifecycle which makes high number of distribution possible.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 50px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Videos</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/n3F47DPyD5c" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/7HDo_nVNQuc" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/XXXn7Fw_DL8" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
