<section class="bg-default" id="foot" style="background: #eee;padding: 30px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <dl class="dl-horizontal" style='font-family: "Helvetica Neue", Helvetica, Arial, sans-serif'>
                    <dt>Code licensed</dt>
                    <dd>Apache License 2.0</dd>
                    <dt>Github Repository</dt>
                    <dd><a href="https://github.com/axboot/ax-boot-framework">https://github.com/axboot/ax-boot-framework</a></dd>
                    <dt>Mantained by</dt>
                    <dd>Thomas Jang, Brant and Team AXISJ</dd>

                    <dt>Copyright</dt>
                    <dd>Opensource Group AXISJ -
                        <a href="https://www.axisj.com">www.axisj.com</a></dd>

                    <dt>DNS</dt>
                    <dd>
                        안정적인 DNS서비스 <a href="http://www.dnsever.com" target="dnsever"><font color="#1111f1">DNS</font><font color="#f11111">Ever</font></a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
