<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>AXBOOT 2.0 - Full Stack Web Application Framework</h1>
            <hr class="wow tada">
            <p>
                AX-BOOT is a Full Stack Web Framework Repeatable and noise development process are resolved by AX-BOOT.
                Furthermore, AX-BOOT provides the Layout system, Web UI Components, Prebuilt Common Business Service, so you can concentrate on your business.
                Web development paradigm restarts with AX-BOOT
            </p>
            <a href="https://github.com/axboot/ax-boot-framework" class="btn btn-primary btn-xl page-scroll wow tada"><i class="cqc-github"></i> Fork AX-BOOT on Github</a>
        </div>
    </div>
</header>
