<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>AXBoot Framework<br/></h1>
            <h2>Full Stack Web Application Development Framework</h2>
            <hr class="wow tada">
            <p>
                AXBoot makes it easy to build web applications with Java & HTML5<br/>
                Repeatable and noise development process are resolved by AXBoot.<br/>
                Furthermore, AXBoot provides the Layout system, Web UI Components, Prebuilt Common Business Service, so you can concentrate on your business.
                Web development paradigm restarts with AXBoot
            </p>
            <a href="https://github.com/axboot/ax-boot-framework" class="btn btn-primary btn-xl page-scroll wow tada"><i class="cqc-github"></i> Fork AX-BOOT on Github</a>
        </div>
    </div>
</header>
