<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>AXBoot Framework<br/></h1>
            <h2>Full Stack Web Application Development Framework</h2>
            <hr class="wow tada">
            <p>
                AXBoot makes it easy to build web applications with Java & HTML5<br/>
                Repeatable and noise development process are resolved by AXBoot.<br/>
                Furthermore, AXBoot provides the Layout system, Web UI Components, Prebuilt Common Business Service, so you can concentrate on your business.<br/>
                Develop enterprise web applications fast as never before with AXBoot Framework </p>


            <div class="row">
                <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                    <div class="col-lg-4 col-md-4">
                        <a href="http://demo.axboot.com" target="_blank" class="btn btn-block btn-primary btn-xl page-scroll wow tada" style="margin: 0.5em auto" data-wow-delay="0s"><i
                                class="cqc-chequer"></i> Demo</a>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <a href="https://github.com/axboot/ax-boot-framework" target="_blank" class="btn btn-block btn-info btn-xl page-scroll wow tada" style="margin: 0.5em auto" data-wow-delay="1s"><i
                                class="cqc-github"></i> Github</a>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <a href="http://start.axboot.com" target="_blank" class="btn btn-block btn-warning btn-xl page-scroll wow tada" style="margin: 0.5em auto" data-wow-delay="2s"><i
                                class="cqc-chequer"></i> INITIALZR</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>
