<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">AXBOOT 미리보기</h2>
                <hr class="light">

                <ul style="text-align: left;">
                    <li>AXBoot는 자체개발한 UI Framework와 스프링 프레임워크, 수십개의 오픈소스 컴포넌트들로 이루어진 풀 스택 웹 애플리케이션 개발 프레임워크 입니다. 또한 사용자관리, 시스템 메뉴, 권한 관리, 세션관리 등의 이미 구현된 어드민 팩을 기반으로 즉시 사용가능한 관리 시스템(어드민)을 개발할 수 있습니다. 또한 HTML5, CSS3, JavaScript, Java8, Spring Framework, Maven 등의 표준화된 기술과 널리 사용되는 오픈소스를 기반으로 개발하였기 때문에 기존 웹 애플리케이션 개발자들에게 친숙하고 편리한 프레임워크로 느껴집니다.</li>
                    <li>운영시 발생하는 여러가지 에러들을 사용자 정보와 파라미터, 로그들과 함께 추적하고, 실시간으로 알람을 제공하는 AXBoot 로깅 시스템이 내장되어 있어, 중(소) 규모의 애플리케이션 운영시에는 별도의 로그 수집, 관리, 모니터링 시스템 없이도 안정적인 시스템 운영이 가능합니다.</li>
                    <li>Dialog, Toast, Modal, Calendar, Picker, Formatter, Menu, Selector, Combobox, Grid 등 10여가지의 웹 컴포넌트를 제공하고 있으며 해당 컴포넌트들은 CSS를 통해 일관된 룩앤필(Look&Feel) 제어가 가능합니다.</li>
                    <li>자바 기반의 웹 애플리케이션 개발자들이 익숙한 JSP를 템플릿 엔진으로 사용했고, UI 컴포넌트들을 JSP 내에서 쉽고 편리하게 사용할 수 있는 JSTL 확장 태그를 제공합니다.</li>
                    <li>Multiline SQL, SQL Mapper, ORM 등 다양한 방식으로 데이터를 영속화 할 수 있으며, 기존 생성된 테이블에 대해서는 Reverse Engineering을 통해 해당 테이블에 CRUD를 위한 Controller, Service, Entity, Repository를 자동으로 생성해주는 Schema Exporter 기능을 제공합니다.</li>
                </ul>

            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
