<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">AXBOOT 미리보기</h2>
                <hr class="light">

                <p>
                    AXBoot는 AXISJ UI Framework를 개발, 배포 운영했던 경험과 노하우를 기반으로 자체개발한 AX5-UI Framework와, Spring Framework를 확장하여 누구나 쉽고 빠르게 웹 애플리케이션을 개발할 수 있는 풀 스택 웹 애플리케이션 프레임워크를 개발하였습니다.

                    소스를 내려받고, IDE에 설정하고, 필요한 기능 개발을 시작하기 까지 채 5분이 걸리지 않으며, 미리 구성된 프레임워크 설정과 UI 컴포넌트, 레이아웃 시스템 덕분에, 샘플 예제를 기반으로 즉시 개발을 시작할 수 있습니다. 또한 로그인, 사용자관리, 권한관리, 메뉴관리 등 애플리케이션에 공통으로 필요한 기능들이 확장 가능한 모듈로 탑재되어 있습니다.

                    빠르고, 견고하고, 아름다운 웹 애플리케이션 개발, 이제 AXBoot로 시작하세요.


                </p>

            </div>
        </div>
    </div>
</section>
<section class="no-padding" id="preview">

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Arongi theme
                            </div>
                            <div class="project-name">
                                AXBOOT Main
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Arongi theme
                            </div>
                            <div class="project-name">
                                AXBOOT Project Management
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Doberman theme
                            </div>
                            <div class="project-name">
                                AXBOOT Menu Management
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Doberman theme
                            </div>
                            <div class="project-name">
                                AXBOOT User Management
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Doberman theme
                            </div>
                            <div class="project-name">
                                AXBOOT Common Code Management
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Doberman theme
                            </div>
                            <div class="project-name">
                                AXBOOT Error Log Management
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
