<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">AXBoot Themes</h2>
                <hr class="light">
                <p></p>
                <a href="https://github.com/axboot/ax-boot-themes" class="btn btn-default btn-xl page-scroll" target="_blank">Get AXBOOT Themes</a>

            </div>
        </div>
    </div>
</section>
<section class="no-padding" id="preview">

    <div class="container-fluid" style="padding: 0;">
        <div class="row no-gutter" style="margin: 0;">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Arongi theme
                            </div>
                            <div class="project-name">
                                AXBOOT Main
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Arongi theme
                            </div>
                            <div class="project-name">
                                AXBOOT Project Management
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Doberman theme
                            </div>
                            <div class="project-name">
                                AXBOOT Menu Management
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Doberman theme
                            </div>
                            <div class="project-name">
                                AXBOOT User Management
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Doberman theme
                            </div>
                            <div class="project-name">
                                AXBOOT Common Code Management
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Doberman theme
                            </div>
                            <div class="project-name">
                                AXBOOT Error Log Management
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
