<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Team</h2>
                <hr class="primary">
            </div>
        </div>
        <div style="height: 20px;"></div>
        <div class="row well">
            <div class="col-md-3 col-sm-3 col-lg-2">
                <img src="https://avatars2.githubusercontent.com/u/5884902?v=3&s=466" class="img-responsive img-thumbnail" align="center"/>
                <h5 class="section-heading text-info" style="padding: 10px;">Web UI Expert</h5>
            </div>
            <div class="col-md-9 col-sm-9 col-lg-10">

                <h4 class="section-heading">
                    Thomas Jang
                    &nbsp;
                    <span class="badge"><a href="https://github.com/thomasjang" target="_blank" style="color: #fff;">Github</a></span>
                    <span class="badge"><a href="http://blog.axisj.com/" target="_blank" style="color: #fff;">Blog</a></span>
                    <span class="badge"><a href="https://www.facebook.com/axisjtom" target="_blank" style="color: #fff;">Facebook</a></span>
                </h4>

                <ul class="text-muted" style="text-align:left;padding:0;padding-left: 20px;line-height: 1.8em;font-size: 12px;">
                    <li>HTML5, CSS, JavaScript Expert</li>
                    <li>Web Application Interface Professional</li>
                    <li>Creator of Full Stack Web UI Framework <a href="https://www.axisj.com/ko/axisj/">AXISJ</a></li>
                    <li>Creator of Advanced HTML5 UI Framework <a href="http://ax5.io" target="_blank">AX5UI</a></li>
                    <li>Global Opensource Frontier - NIPA</li>
                    <li>The Winner of Super Developer K3 Award- NIA</li>
                </ul>

                <p style="font-size:12px;text-align:left;">
                    Ki-young Jang is one of the best front-end engineers in Korea with more than 15 years web application development work exprience. </p>

                <div class="text-center">

                </div>

            </div>
        </div>


        <div class="row well">
            <div class="col-md-3 col-sm-3 col-lg-2">
                <img src="https://avatars3.githubusercontent.com/u/2221139?v=3&s=466" class="img-responsive img-thumbnail" align="center"/>
                <h5 class="section-heading text-info" style="margin: 10px auto;">Java & Server Expert</h5>
            </div>
            <div class="col-md-9 col-sm-9 col-lg-10">

                <h4 class="section-heading">
                    Brant Hwang
                    &nbsp;
                    <span class="badge"><a href="https://github.com/brant-hwang" target="_blank" style="color: #fff;">Github</a></span>
                    <span class="badge"><a href="http://brantiffy.axisj.com/about-me" target="_blank" style="color: #fff;">Blog</a></span>
                    <span class="badge"><a href="https://www.facebook.com/tjdus3361" target="_blank" style="color: #fff;">Facebook</a></span>
                    <span class="badge"><a href="https://www.linkedin.com/in/ishwang" target="_blank" style="color: #fff;">Linkedin</a></span>
                </h4>

                <ul class="text-muted" style="text-align:left;padding:0;padding-left: 20px;line-height: 1.8em;font-size: 12px;">
                    <li>Java, Spring Framework, Linux Expert</li>
                    <li>Former <a href="http://www.kakaocorp.com" target="_blank">Kakao</a> e-Commerce Platform Developer</li>
                    <li>Microsoft Certified System Engineer, IT Professional, Technology Specialist, Database Administrator</li>
                    <li>Oracle Certified Professional</li>
                    <li>Sun Certified Network, System Engineer & Java Programmer</li>
                    <li>Linux Server Professional
                </ul>
                <p style="font-size:12px;text-align:left;">
                    In-Seo Hwang is a back-end engineer who manages Distributed Processing, Java, Spring Framework perfectly. </p>
            </div>
        </div>
    </div>
</section>
