<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Team</h2>
                <hr class="primary">
            </div>
        </div>
        <div style="height: 20px;"></div>
        <div class="row well">
            <div class="col-md-3 col-sm-3 col-lg-2">
                <img src="https://avatars2.githubusercontent.com/u/5884902?v=3&s=466" class="img-responsive img-thumbnail" align="center"/>
                <h5 class="section-heading text-info" style="padding: 10px;">Web UI Expert</h5>
            </div>
            <div class="col-md-9 col-sm-9 col-lg-10">

                <h4 class="section-heading">
                    Thomas Jang
                    &nbsp;
                    <span class="badge"><a href="https://github.com/thomasjang" target="_blank" style="color: #fff;">Github</a></span>
                    <span class="badge"><a href="http://blog.axisj.com/" target="_blank" style="color: #fff;">Blog</a></span>
                    <span class="badge"><a href="https://www.facebook.com/axisjtom" target="_blank" style="color: #fff;">Facebook</a></span>
                </h4>

                <ul class="text-muted" style="text-align:left;padding:0;padding-left: 20px;line-height: 1.8em;font-size: 12px;">
                    <li>HTML5, CSS, JavaScript Expert</li>
                    <li>Web Application Interface Professional</li>
                    <li>Creator of Full Stack Web UI Framework <a href="https://www.axisj.com/ko/axisj/">AXISJ</a></li>
                    <li>Creator of Advanced HTML5 UI Framework <a href="http://ax5.io" target="_blank">AX5UI</a></li>
                    <li>Global Opensource Frontier - NIPA</li>
                    <li>The Winner of Super Developer K3 Award- NIA</li>
                </ul>

                <p style="font-size:12px;text-align:left;">
                    Thomas Jang is one of the best front-end engineers in Korea with more than 15 years web application development work exprience. </p>

                <div class="text-center">

                </div>

            </div>
        </div>


        <div class="row well">
            <div class="col-md-3 col-sm-3 col-lg-2">
                <img src="img/10678801_1480471802235625_7675321070844317459_n.jpg" class="img-responsive img-thumbnail" align="center"/>
                <h5 class="section-heading text-info" style="margin: 10px auto;">Java & Server Expert</h5>
            </div>
            <div class="col-md-9 col-sm-9 col-lg-10">

                <h4 class="section-heading">
                    Brant Hwang
                    &nbsp;
                    <span class="badge"><a href="https://github.com/brant-hwang" target="_blank" style="color: #fff;">Github</a></span>
                    <span class="badge"><a href="http://brantiffy.axisj.com/about-me" target="_blank" style="color: #fff;">Blog</a></span>
                    <span class="badge"><a href="https://www.facebook.com/tjdus3361" target="_blank" style="color: #fff;">Facebook</a></span>
                    <span class="badge"><a href="https://www.linkedin.com/in/ishwang" target="_blank" style="color: #fff;">Linkedin</a></span>
                </h4>

                <ul class="text-muted" style="text-align:left;padding:0;padding-left: 20px;line-height: 1.8em;font-size: 12px;">
                    <li>Java, Spring Framework, Linux Expert</li>
                    <li>Former E-Commerce Platform, Commerce Service Developer at <a href="http://www.kakaocorp.com" target="_blank">KAKAO</a></li>
                    <li>Former POS Platform, POS Software Developer - Alternative Military Service</li>
                    <li>Cloud Infrastructure Design & Automation Professional</li>
                    <li>Microsoft Certified System Engineer, IT Professional, Technology Specialist, Database Administrator</li>
                    <li>Oracle Certified Database Professional</li>
                    <li>Sun Certified Network, System Engineer & Java Programmer</li>
                    <li>Certified Linux Server Professional</li>
                    <li>Spring Boot in Action Korean version translator - <a href="http://www.yes24.com/24/goods/30119126?scode=032&OzSrank=1" target="_blank">스프링 부트 코딩공작소</a></li>
                </ul>
                <p style="font-size:12px;text-align:left;">
                    Brant Hwang is a back-end engineer who manages Distributed Processing, Java, Spring Framework perfectly. </p>
            </div>
        </div>
    </div>
</section>
