<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Team</h2>
                <hr class="primary">
            </div>
        </div>
        <div style="height: 20px;"></div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2 text-center">
                <h3 class="section-heading" style="padding: 10px;">Web UI Expert</h3>

                <div style="margin: 10px auto;">
                    <img src="https://avatars2.githubusercontent.com/u/5884902?v=3&s=466" class="img-responsive img-thumbnail" align="center"/>
                </div>

                <p>Thomas Jang</p>
                <p class="text-muted" style="font-size:12px;text-align:left;">
                <ul style="text-align:left;">
                    <li>HTML5, CSS, JavaScript Expert</li>
                    <li>Web Application Interface Professional</li>
                    <li>Creator of Full Stack Web UI Framework <a href="https://www.axisj.com/ko/axisj/">AXISJ</a></li>
                    <li>Creator of Advanced HTML5 UI Framework <a href="http://ax5.io" target="_blank">AX5UI</a></li>
                    <li>Global Opensource Frontier - NIPA</li>
                    <li>The Winner of Super Developer K3 Award- NIA</li>
                </ul>

                Ki-young Jang is one of the best front-end engineers in Korea with more than 15 years web application development work exprience.
                </p>
                <a href="https://github.com/thomasjang" target="_blank">Github / </a>
                <a href="http://blog.axisj.com/" target="_blank">Blog</a>
                <hr class="primary">

            </div>
            <div class="col-md-4 text-center">
                <h3 class="section-heading" style="padding: 10px;">Web API & Server Expert</h3>

                <div style="margin: 10px auto;">
                    <img src="https://avatars3.githubusercontent.com/u/2221139?v=3&s=466" class="img-responsive img-thumbnail" align="center"/>
                </div>

                <p>Brant Hwang</p>
                <p class="text-muted" style="font-size:12px;text-align:left;">
                <ul style="text-align:left;">
                    <li>Java, Spring Framework, Linux Expert</li>
                    <li>Former <a href="http://www.kakaocorp.com" target="_blank">Kakao</a> e-Commerce Platform Developer</li>
                    <li>Microsoft Certified System Engineer, IT Professional, Technology Specialist, Database Administrator</li>
                    <li>Oracle Certified Professional</li>
                    <li>Sun Certified Network, System Engineer & Java Programmer</li>
                    <li>Linux Server Professional
                </ul>
                In-Seo Hwang is a back-end engineer who manages Distributed Processing, Java, Spring Framework perfectly.
                </p>
                <a href="https://github.com/thomasjang" target="_blank">Github / </a>
                <a href="http://brantiffy.axisj.com/about-me" target="_blank">Blog</a>

                <hr class="primary">
            </div>
        </div>
    </div>
</section>
